* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.hide_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.hide_text2 {
    display: -webkit-box;
    display: -moz-box;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.hide_text3 {
    display: -webkit-box;
    display: -moz-box;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

html {
    overflow-x: hidden;
}

body {
    padding-top: 120px;
    overflow-x: hidden;
}



/* ------------------- 公共 以上 --------------------- */

.navbar {
    margin-bottom: 0;
    background: #fff;

    .navbar-header {
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &::before {
            content: none;
        }

        &::after {
            content: none;
        }

        .navbar-brand {
            width: 2.29rem;
            padding: 0;
            margin: 0;
            .logo {
                width: 100%;
            }
        }

        .right_function {
            .search {
                display: none;
            }
        }
    }

    .nav {
        .nav_li {
            height: 120px;
            

            .nav_li_link {
                font-size: 16px;
                line-height: 120px;
                display: block;
                color: #000;
                padding: 0 15px;

                .iconfont {
                    font-size: 12px;
                    color: #000;
                    transition: all .6s;
                }

                .active {
                    display: inline-block;
                    transform: rotate(180deg);
                    color: #FF930D;
                }
            }

            .icon {
                display: none;
            }

            .nav_li_link:hover {
                color: #FF930D;
                text-decoration: none;
            }

            .menuDown {
                position: fixed;
                top: 120px;
                left: 0;
                right: 0;
                background: #fff;
                padding: 20px;
                box-shadow: 0 0 3px 0px rgba(0, 0, 0, .2);
                display: none;

                .m_content {

                    display: flex;
                    justify-content: space-between;

                    .left_content {
                        display: flex;

                        .list-group {
                            .list_title {
                                font-size: 16px;
                                font-weight: bold;

                                &:hover {
                                    color: #FF930D;
                                }
                            }

                            .list-group-item {
                                background: none;
                                border: none;
                                color: #0A1E33;

                                &:hover {
                                    color: #FF930D;
                                }
                            }
                        }
                    }

                    .right_cover {
                        width: 30%;

                        .cover {
                            width: 100%;
                            border-radius: 4px;
                            overflow: hidden;
                            transition: all .3s;
                            max-height: 150px;
                            object-fit: cover;
                        }

                        .text {
                            margin-top: 20px;
                        }
                    }
                }
            }

            .h5_menuDown {
                display: none;
            }
        }

        .active {
            .nav_li_link {
                background: none;
                color: #FF930D;
            }

            .iconfont {
                color: #FF930D !important;
            }

            .nav_li_link:hover {
                background: none;
                color: #FF930D;
            }
        }
    }

    .navbar-collapse {
        max-height: 70vh;
    }

    .down_search {
        display: none;
    }

    .container {
        position: relative;
    }

    .language {
        position: fixed;
        top: 0;
        right: 0;
        .link {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 6px;
            span {
                font-size: 14px;
                color: #0A1E33;
                padding-right: 4px;
            }
        }
    }

}

.down_search {
    display: none;
}

.container {
    width: 100%;
}

.index {
    .banner_swiper {
        .swiper-slide {
            .cover {
                .img {
                    width: 100%;
                }
            }
        }
    }
}

/* ------------------ 媒体查询 以下 ------------------- */

// font-size: .12rem; == 12px
// 默认html
html { font-size:100px; font-family:'微软雅黑','苹方','思源黑体';  } 
@media(max-width:640px){ html { font-size:85.33px; } }  /*Android常用宽度*/
@media(max-width:540px){ html { font-size:72px; } }     /*Android常用宽度*/
@media(max-width:480px){ html { font-size:64px; } }     /*Android常用宽度*/
@media(max-width:445px){ html { font-size:60px; } }
@media(max-width:414px){ html { font-size:55.2px; } }   /*i6Plus,i7Plus宽度*/
@media(max-width:375px){ html { font-size:50px; } }     /*i6,i7宽度*/
@media(max-width:360px){ html { font-size:48px; } }     /*Android常用宽度*/
@media(max-width:320px){ html { font-size:42.67px; } }    /*i5宽度*/

@media screen and (max-width: 767px) {
    .menuDown {
        display: none !important;
    }

    .navbar {
        .language {
            top: .45rem;
            transform: translateY(-50%);
            right: 2rem;
        }
        .navbar-header {
            margin: 0;
            height: .9rem;
            .navbar-brand {
                width: 1.66rem;
                height: auto;
            }

            .right_function {
                display: flex;
                align-items: center;
                justify-content: center;
                .search {
                    display: block;
                    padding-right: .3rem;
                    .iconfont {
                        font-size: .42rem;
                        font-weight: 700;
                        cursor: pointer;
                        color: #0A1E33;
                    }
                }
                .navbar-toggle {
                    border-color: #0A1E33;
                    margin: 0;
                    .icon-bar {
                        background-color: #0A1E33;
                    }

                    &:hover {
                        background-color: #fff;
                    }
                }
            }
           
        }

        #navbar {
            .nav {
                .nav_li {
                    height: auto;
                    border-bottom: 1px solid #f4f4f4;
                    .nav_li_wrap {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .nav_li_link {
                            flex: 1;
                            margin-top: 0;
                            line-height: 26px;
                            padding: .16rem .16rem;
                            .iconfont {
                                display: none;
                            }
                        }
                        
                        .icon {
                            width: 42px;
                            height: 42px;
                            display: block;
                            padding: 10px 20px;
                            cursor: pointer;
                            transition: all .3s;
                            padding: 0;
                            line-height: 42px;
                            text-align: center;
                            margin-left: .3rem;
                        }

                        .icon_rolate {
                            transform: rotate(180deg);
                        }
                    }

                    .h5_menuDown {
                        display: none;
                        .list-group {
                            .list-group-item {
                                border: none;
                                padding: 10px 24px;
                            }
                        }
                    }
                    &:last-child {
                        border-bottom: 0;
                    }
                }
            }
        }
    }

    .down_search {
        position: fixed;
        top: .9rem;
        left: 0;
        right: 0;
        padding: .6rem .3rem .4rem;
        display: none;
        border-bottom: 1px solid #f5f5f5;
        
        .clone {
            position: absolute;
            right: 0;
            top: 0;
            width: .8rem;
            height: .8rem;
            text-align: center;
            line-height: .8rem;
            cursor: pointer;
            .iconfont {
                font-size: .36rem;
                color: #FF930D;
                font-weight: 700;
            }
        }
        .form-group {
            padding: 0 .3rem;
        }
        .input_box {
            padding: 0;
            .form-control {
                border: 1px solid #0A1E33;
                border-radius: 4px 0 0 4px;
            }
        }
        .btn {
            height: 46px;
            padding: 6px 10px;
            background: #0A1E33;
            color: #FF930D;
            border-radius: 0 4px 4px 0;
            border: 1px solid #0A1E33;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

    .navbar {
        .container {
            .navbar-header {

                .navbar-brand {
                    width: 180px;
                }
            }

            #navbar {
                .nav {
                    .nav_li {
                        .nav_li_link {
                            padding: 0 8px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}