.hide_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.hide_text2 {
    display: -webkit-box;
    display: -moz-box;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.hide_text3 {
    display: -webkit-box;
    display: -moz-box;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.navbar {
    margin-bottom: 0;
    background: #fff;

    .navbar-header {
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &::before {
            content: none;
        }

        &::after {
            content: none;
        }

        .navbar-brand {
            width: 228px;
            height: 56px;
            padding: 0;

            .logo {
                width: 100%;
            }
        }
    }

    .nav {
        .nav_li {
            height: 120px;
            

            .nav_li_link {
                font-size: 16px;
                line-height: 120px;
                display: block;
                color: #000;
                padding: 10px 15px;

                .iconfont {
                    font-size: 12px;
                    color: #000;
                    transition: all .6s;
                }

                .active {
                    display: inline-block;
                    transform: rotate(180deg);
                    color: #FF930D;
                }
            }

            .down {
                display: none;
            }

            .nav_li_link:hover {
                color: #FF930D;
                text-decoration: none;
            }

            .menuDown {
                position: fixed;
                top: 120px;
                left: 0;
                right: 0;
                background: #fff;
                padding: 20px;
                box-shadow: 0 0 3px 0px rgba(0, 0, 0, .2);
                display: none;

                .m_content {

                    display: flex;
                    justify-content: space-between;

                    .left_content {
                        display: flex;

                        .list-group {
                            .list_title {
                                font-size: 16px;
                                font-weight: bold;

                                &:hover {
                                    color: #FF930D;
                                }
                            }

                            .list-group-item {
                                background: none;
                                border: none;
                                color: #0A1E33;

                                &:hover {
                                    color: #FF930D;
                                }
                            }
                        }
                    }

                    .right_cover {
                        width: 30%;

                        .cover {
                            width: 100%;
                            border-radius: 4px;
                            overflow: hidden;
                            transition: all .3s;
                            max-height: 150px;
                            object-fit: cover;
                        }

                        .text {
                            margin-top: 20px;
                        }
                    }
                }
            }
        }

        .active {
            .nav_li_link {
                background: none;
                color: #FF930D;
            }

            .iconfont {
                color: #FF930D !important;
            }

            .nav_li_link:hover {
                background: none;
                color: #FF930D;
            }
        }
    }
}

.body {
    padding-top: 120px;
}


@media screen and (max-width: 767px) {
    .menuDown {
        display: none !important;
    }

    .navbar {
        .navbar-header {
            height: 90px;
        }

        #navbar {
            .nav {
                .nav_li {
                    height: auto;
                    border-bottom: 1px solid #f4f4f4;
                    .nav_li_wrap {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .nav_li_link {
                            margin-top: 0;
                            line-height: 26px;
                            
                            .iconfont {
                                display: none;
                            }
                        }
    
                        .down {
                            display: block;
                            padding: 10px 20px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {}

@media screen and (min-width: 992px) and (max-width: 1199px) {}

@media screen and (min-width: 1200px) {}

// 自定义
// pc导航
@media screen and (min-width: 768px) and (max-width: 992px) {
    .navbar {
        .container {
            .navbar-header {
                height: auto;

                .navbar-brand {
                    width: 160px;
                    height: auto;
                    margin-top: 50px;
                }
            }

            #navbar {
                .nav {
                    .nav_li {
                        .nav_li_link {
                            padding: 10px 8px;
                        }
                    }
                }
            }
        }
    }
}